/*
 * PROJECT:     LibreNT
 * LICENSE:     BSD-3-Clause (https://spdx.org/licenses/BSD-3-Clause)
 * PURPOSE:     Native LibreNT system component
 * COPYRIGHT:   Copyright 2026 Panoc95
 */



# LibreNT Init Script
# This script is executed by libredaemon at startup

setenv LIBRENT 1
setenv DAEMON_MODE enabled

regset HKCU\Software\LibreNT\Mode debug
regset HKCU\Software\LibreNT\Version 0.1.0

# spawn taskkill /IM explorer.exe /F
spawn taskkill /IM SearchHost.exe /F
spawn taskkill /IM StartMenuExperienceHost.exe /F
spawn taskkill /IM ShellExperienceHost.exe /F
spawn taskkill /IM RuntimeBroker.exe /F
spawn taskkill /IM TextInputHost.exe /F
spawn taskkill /IM LockApp.exe /F
spawn taskkill /IM YourPhone.exe /F
spawn taskkill /IM Widgets.exe /F
spawn taskkill /IM msedgewebview2.exe /F
